body {
    background-color: #00E6FE;
    font-family: 'Shrikhand', cursive;
}

#calculator {
    height: 410px;
    width: 300px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    background-color: #A10EEC;
    border: 2px solid #908B85;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    box-shadow: 1px 10px 34px 7px rgba(0, 0, 0, 0.68), inset -1px -6px 12px 0.1px #89847E;
}

#brand {
    font-family: 'Faster One', cursive;
    font-size: 200%;
    margin-top: -10%;
    margin-bottom: -10%;
}

#brand img {
    height: 8%;
    width: 8%;
}

#result {
    width: 85%;
    height: 65px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #B4B39D;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #C3C2AB;
    font-size: 250%;
}

#buttons {
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    position: absolute;
    display: inline-block;
    width: 320px;
    height: auto;
    margin-top: -30px;
    margin-left: 15px;
}

button {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: none;
    background-color: #FFF001;
    margin: 0 10px 4px 6px;
    height: 40px;
    width: 50px;
    box-shadow: 0 3px 0 0 #222121, inset -1px -3px 10px 1px #515151;
}

#equalButton {
    position: absolute;
    margin-left: 10px;
    margin-top: -131px;
    height: 171px;
    background: url("art/80s-bw-pattern.jpeg");
}

.blue {
    background-color: #00E6FE;
}

.ops {
    background-color: #99FC20;
}

.red {
    background-color: #FD1999;
}